.message-bubble-left {
    -fx-shape: "M 617.796387,96.331444c0,-10.000282 -13.401611,-18.051064 -30.04834,-18.051064l-471.95871,0c-16.64682,0 -30.048409,8.050781 -30.048409,18.051064l0,27.354454l-73.861718,48.273758l73.861718,-11.754837l0,54.639435c0,10.00029 13.401588,18.051056 30.048409,18.051056l471.95871,0c16.646729,0 30.04834,-8.050766 30.04834,-18.051056l0,-118.51281 Z ";
    -fx-font: 16px "Comic Sans MS";
    -fx-background-color: rgb(59, 89, 152);
    -fx-text-alignment: left;
    -fx-background-insets: 0,3;
    -fx-padding: 10 20 10 120;
    -fx-text-fill: white;
}

.message-bubble-right {
    -fx-shape: "M 16.89826000000005 106.331449c9.17278 -25.921177 41.97543 -16.238029 63.009 -18.029071 149.39042 0.225205 298.78288 -0.58721 448.17164 0.429121 30.382073 1.615057 12.516019 39.818366 29.710026 50.954586 21.856733 13.7924 43.327902 28.2159 65.026514 42.27358 -24.620573 -3.91828 -49.241145 -7.83656 -73.861718 -11.75484 -4.003544 23.34598 12.64334 63.36991 -19.825522 71.19597 -25.01165 3.9024 -50.50561 0.0339 -75.74135 1.45634 -138.53783 -0.16402 -277.07773 0.57368 -415.61381 -0.41298 -18.88904 -1.60259 -24.23802 -23.43915 -20.87478 -39.02629 0 -32.36214 0 -64.72428 0 -97.086416 Z";
    -fx-font: 16px "Comic Sans MS";
    -fx-background-color: white, rgba(255, 255, 255, 0.9);
    -fx-text-alignment: left;
    -fx-background-insets: 0,3;
    -fx-padding: 10 90 10 40;
    -fx-text-fill: black;
}

.grid {
    /* 1 pixel border around the top and right of the grid: */
    -fx-background-color: black, white;
    -fx-background-insets: 0, 1 1 1 1 ;
    -fx-padding: 1 ;
}
